@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Quicksand:wght@300..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Rubik:ital@0;1&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #4b4b4b;
}
.continar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.todolest{
    background-color:white;
    border-radius: 20px;
    padding: 60px ;
    width: 60vh;
}
.tittel{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;   
}
.tittel h2{  
    font-size: 40px;
    font-weight: 800;
}
.tittel img {
    width: 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    
}
.row input{
    padding: 10px 20px ;
    width: 100%;
    border-radius: 10px;
    outline: none;
}
.row button{
    padding: 12px 20px ;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#task-list{
    list-style: none;
    padding: 20px 20px ;
    
}
#task-list li {
    margin-top: 5px;
    position: relative;
    padding: 20px;
}
#task-list li span {
    position:absolute;
    right: 10px;;
    top: 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
#task-list li::before{
    content: "";
    position:absolute;
    background: url("./img/web_14569633.png") center/cover;
    width: 20px;
    height: 20px;
    left: -15px;
    top: 23px;
    bottom: 0px;
    right: 28px; 
}
#task-list li.checked::before{
    background: url("./img/check_14025690.png") center/cover;
}
#task-list li.checked{
    text-decoration: line-through;
    color: #818181;

    
}
